<html>
  <head>
    <title>IKEA Lichter</title>
    <link rel="stylesheet" href="../static/main.css" />
  </head>
  <body>
    <header class="header">
      <p>left text</p>
      <h1>Kaindorf of Things</h1>
      <p>right text</p>
    </header>

    <h2 class="subheadline">Manuelle Lampensteuerung</h2>

    <div id="wrapper">
      <div id="switching">
        
        <form class="button" method="PUT" action="/api/on">
          <button id="on">Einschalten</button>
        </form>
        <form class="button" method="PUT" action="/api/off">
          <button id="off">Ausschalten</button>
        </form>
        
        
      </div>
      <div id="switching">
        <div class="slidecontainer">
          <p>Helligkeit</p>
          <input
            name="lightlevel"
            type="range"
            min="0"
            max="254"
            value="254"
            class="slider"
            id="brightness-slider"
            onchange="submit()"
          />
        </div>
      </div>
    </div>

    <div class="infoContainer">
      <h2 class="subheadline">Geräte-Information</h2>
      <p>Lampenstatus: an/aus</p>
      <p>Aktueller Feuchtigkeitswert: /\</p>
    </div>
    <script src="../static/main.js"></script>
  </body>
</html>
