<html>
  <head>
    <title>KaindorfThings</title>
    <link rel="stylesheet" href="{{ url_for('static' , filename='main.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static' , filename='toggle.css') }}" />
  </head>
  <body>
    <header class="header">
      <img src="{{ url_for('static' , filename='kaindorf_logo.png') }}", height="50px">
      <h1>Kaindorf Things</h1>
      <img src="{{ url_for('static' , filename='informatik_logo.png') }}", height="100px", style="margin-top: -1.5em;">
    </header>

    <h2 class="subheadline">Manuelle Lampensteuerung</h2>
    <iframe name="myiframe" style="display: none;"></iframe>
    <div id="wrapper">
      <div id="switching">
        
        <form target="myiframe" class="button" method="PUT" action="/api/on">
          <button id="on">Einschalten</button>
        </form>
        <form class="button" target="myiframe" method="PUT" action="/api/off">
          <button id="off">Ausschalten</button>
        </form>
        
        
      </div>
      <div id="switching">
        <div class="slidecontainer">
          <p style="margin-top: 2em ;margin-bottom: -1.5em;">Helligkeit</p>
          <form target="myiframe">
            <input
            name="lightlevel"
            type="range"
            min="0"
            max="254"
            value="254"
            class="slider"
            id="brightness-slider"
          />
          </form>
        </div>
      </div>
    </div>
    <div class="infoContainer">
      <h2 class="subheadline">Geräte-Information</h2>
      <p style="font-size: 1.5em;">Aktueller Feuchtigkeitswert: <span id="moisturefield"></span></p>
    </div>
    <script src="../static/main.js"></script>
  </body>
</html>
